html
  head
    include head.pug
  body
    include navbar.pug
    .container
      header
        h1 Welcome to Lesters blog
  
      // Article 1
      
      - for (var i = res.length - 1; i >= 0; --i) {
      .panel.panel-success
          .panel-heading
            h3.panel-title #{res[i].title}
          .panel-body
            | #{res[i].body}
          .panel-footer Posted by #{res[i].author} on #{res[i].created}


      - }
  
    
      
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
