html
  head
    include head.pug
  body
    .container
      header
        h1 Things to do in Oahu
      // Article 1
      .panel.panel-success
        .panel-heading
          h3.panel-title Snorkeling
        .panel-body
          | Lorem ipsum dolor sit amet, wisi vestibulum, leo in orci fringilla, a eros quisque arcu urna sed, pede aliquam natoque posuere sit commodo pulvinar, tempor at. Nascetur pellentesque diam quis id ultrices. Justo in, habitasse porttitor donec elit potenti. Sem dis ipsum volutpat erat facilisis quam, elementum augue, vitae scelerisque nulla elit feugiat pede. Facilisi quam amet, erat nulla nam mauris posuere. Convallis eget, sit augue aliquam tincidunt ante porta. Tellus lectus vel, urna aliquam magna lacus vitae eget tincidunt, massa ultricies. Ipsum phasellus odio nec odio dapibus, viverra molestie euismod vulputate. Donec amet eget, ornare justo a mi faucibus, libero duis et.
        .panel-footer Posted by Joe on May 11, 2015
    
      
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
